<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="display-flex justify-space-between align-center">
      <nav class="bg-light w-100">
        <div class="mx-2 my-3">
          <div>
              <a href="/">Home</a> |
              {{#if logged_in}}
              <a href="/dashboard">Dashboard</a> |
              <a href="/" id="logout">Logout</a>
              {{else}}
              <a href="/login">Login</a>
              {{/if}}
          </div>
          <div class="my-2">
            <h2 class="title-border p-1">
              The Tech Blog
            </h2>
          </div>
        </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>
</html>
